#formDiv{
    width:290px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    background-color: darkgrey;
    padding:10px;
    border-radius: 5px;
}

button{
    margin-top:10px;
    background:black;
    color:white;
    border:none;
    padding:3px 10px 3px 10px;
    width:100px;
    height:40px;
    font-size:20px;
    border-radius: 5px;
}

input{
    margin-top:5px;
    width:280px;
    height:30px;
    font-size:20px;
    border-radius: 10px;
    border:none;
}

#errorDiv{
    margin-top:20px;
    width:270px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding:20px;
    background:#ff4d4d;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size:17px;
}