<div style="height:40px;">
    <span id="UsernameTitle">Hello {{user.username}}</span>
    <button (click)="logout()">Logout</button>
    <span id="jackpot">Jackpot {{jackpotAmount}} $</span>
</div>

<div style="width:100%;height:500px;" id="mainTable">
    <p style="position:absolute;z-index: 20000;font-size:16px;color:white;font-weight: bold;left:920px;top:50px;">{{user.balance/100}}$</p>
    <p style="position:absolute;z-index: 20000;font-size:16px;color:white;font-weight: bold;left:810px;top:50px;">{{totalBet}}$</p>
    <p style="position:absolute;z-index: 20000;font-size:16px;color:white;font-weight: bold;left:700px;top:50px;">{{winAmoun}}$</p>
    <div id="coinHover" style="height:50px;width:50px;position:absolute;border-radius:100%;z-index:10000;background: #33ff33;opacity: 0.5;margin-top:390px;margin-left:615px;"></div>
    <maphilight  [config]="config" style="position:absolute;z-index:9;">
        <img src="/assets/images/table.png" id="rouletteTable" />
        <map>
            <area id="spin" (click)="Spin()" shape="rect" coords="817,390,895,435" style="cursor: pointer;">
            <area id="history" (click)="gamehistory()" shape="rect" coords="898,390,977,436" style="cursor: pointer;">
            <area id="clear" (click)="clearBet(true)" shape="rect" coords="530,390,610,436" style="cursor: pointer;">

            <area id="oneBet"  (click)="changeBet(100)" shape="circle" coords="640,415,24" style="cursor: pointer;">
            <area id="twoBet"  (click)="changeBet(200)" shape="circle" coords="690,415,24" style="cursor: pointer;">
            <area id="fiveBet" (click)="changeBet(500)" shape="circle" coords="740,415,24" style="cursor: pointer;">     
            <area id="tenBet"  (click)="changeBet(1000)" shape="circle" coords="790,415,24" style="cursor: pointer;">

            <area id="firstPart" (click)="beting('FIRSTPART',$event)" shape="rect" coords="450,285,530,335" style="cursor: pointer;">
            <area id="even"      (click)="beting('EVEN',$event)" shape="rect" coords="530,285,610,335" style="cursor: pointer;">
            <area id="red"       (click)="beting('RED',$event)" shape="rect" coords="610,285,690,335" style="cursor: pointer;">
            <area id="black"     (click)="beting('BLACK',$event)" shape="rect" coords="690,285,770,335" style="cursor: pointer;">
            <area id="odd"       (click)="beting('ODD',$event)" shape="rect" coords="770,285,850,335" style="cursor: pointer;">
            <area id="secodPart" (click)="beting('SECONDPART',$event)" shape="rect" coords="850,285,930,335" style="cursor: pointer;">

            <area id="oneColumn"   (click)="beting('ONECOLUMN',$event)" shape="rect" coords="450,235,610,285" style="cursor: pointer;">
            <area id="twoColumn"   (click)="beting('TWOCOLUMN',$event)" shape="rect" coords="610,235,768,285" style="cursor: pointer;">
            <area id="threeColumn" (click)="beting('THREECOLUMN',$event)" shape="rect" coords="768,235,925,285" style="cursor: pointer;">
            
            <area id="oneRow" (click)="beting('ONEROW',$event)" shape="rect" coords="925,90,965,140" style="cursor: pointer;">
            <area id="twoRow" (click)="beting('TWOROW',$event)" shape="rect" coords="925,140,965,190" style="cursor: pointer;">
            <area id="threeRow" (click)="beting('THREEROW',$event)" shape="rect" coords="925,190,965,240" style="cursor: pointer;">
            
            
            <area id="bet0"     (click)="betingNum(0,$event)"  shape="rect" coords="410,90,455,240" style="cursor: pointer;">
            <area id="bet1"     (click)="betingNum(1,$event)"  shape="rect" coords="450,190,490,240" style="cursor: pointer;">
            <area id="bet4"     (click)="betingNum(4,$event)"  shape="rect" coords="490,190,530,240" style="cursor: pointer;">
            <area id="bet7"     (click)="betingNum(7,$event)"  shape="rect" coords="530,190,570,240" style="cursor: pointer;">
            <area id="bet10"    (click)="betingNum(10,$event)" shape="rect" coords="570,190,610,240" style="cursor: pointer;">
            <area id="bet13"    (click)="betingNum(13,$event)" shape="rect" coords="610,190,650,240" style="cursor: pointer;">
            <area id="bet16"    (click)="betingNum(16,$event)" shape="rect" coords="650,190,690,240" style="cursor: pointer;">
            <area id="bet19"    (click)="betingNum(19,$event)" shape="rect" coords="690,190,730,240" style="cursor: pointer;">
            <area id="bet22"    (click)="betingNum(22,$event)" shape="rect" coords="730,190,770,240" style="cursor: pointer;">
            <area id="bet25"    (click)="betingNum(25,$event)" shape="rect" coords="765,190,805,240" style="cursor: pointer;">
            <area id="bet28"    (click)="betingNum(28,$event)" shape="rect" coords="805,190,845,240" style="cursor: pointer;">
            <area id="bet31"    (click)="betingNum(31,$event)" shape="rect" coords="845,190,885,240" style="cursor: pointer;">
            <area id="bet34"    (click)="betingNum(34,$event)" shape="rect" coords="885,190,925,240" style="cursor: pointer;">
            
            <area id="bet2"     (click)="betingNum(2,$event)"  shape="rect" coords="450,140,490,190" style="cursor: pointer;">
            <area id="bet5"     (click)="betingNum(5,$event)"  shape="rect" coords="490,140,530,190" style="cursor: pointer;">
            <area id="bet8"     (click)="betingNum(8,$event)"  shape="rect" coords="530,140,570,190" style="cursor: pointer;">
            <area id="bet11"    (click)="betingNum(11,$event)" shape="rect" coords="570,140,610,190" style="cursor: pointer;">
            <area id="bet14"    (click)="betingNum(14,$event)" shape="rect" coords="610,140,650,190" style="cursor: pointer;">
            <area id="bet17"    (click)="betingNum(17,$event)" shape="rect" coords="650,140,690,190" style="cursor: pointer;">
            <area id="bet20"    (click)="betingNum(20,$event)" shape="rect" coords="690,140,730,190" style="cursor: pointer;">
            <area id="bet23"    (click)="betingNum(23,$event)" shape="rect" coords="730,140,770,190" style="cursor: pointer;">
            <area id="bet26"    (click)="betingNum(26,$event)" shape="rect" coords="765,140,805,190" style="cursor: pointer;">
            <area id="bet29"    (click)="betingNum(29,$event)" shape="rect" coords="805,140,845,190" style="cursor: pointer;">
            <area id="bet32"    (click)="betingNum(32,$event)" shape="rect" coords="845,140,885,190" style="cursor: pointer;">
            <area id="bet35"    (click)="betingNum(35,$event)" shape="rect" coords="885,140,925,190" style="cursor: pointer;">
            
            <area id="bet3"     (click)="betingNum(3,$event)"  shape="rect" coords="450,90,490,140" style="cursor: pointer;">
            <area id="bet6"     (click)="betingNum(6,$event)"  shape="rect" coords="490,90,530,140" style="cursor: pointer;">
            <area id="bet9"     (click)="betingNum(9,$event)"  shape="rect" coords="530,90,570,140" style="cursor: pointer;">
            <area id="bet12"    (click)="betingNum(12,$event)" shape="rect" coords="570,90,610,140" style="cursor: pointer;">
            <area id="bet15"    (click)="betingNum(15,$event)" shape="rect" coords="610,90,650,140" style="cursor: pointer;">
            <area id="bet16"    (click)="betingNum(18,$event)" shape="rect" coords="650,90,690,140" style="cursor: pointer;">
            <area id="bet21"    (click)="betingNum(21,$event)" shape="rect" coords="690,90,730,140" style="cursor: pointer;">
            <area id="bet24"    (click)="betingNum(24,$event)" shape="rect" coords="730,90,770,140" style="cursor: pointer;">
            <area id="bet27"    (click)="betingNum(27,$event)" shape="rect" coords="765,90,805,140" style="cursor: pointer;">
            <area id="bet30"    (click)="betingNum(30,$event)" shape="rect" coords="805,90,845,140" style="cursor: pointer;">
            <area id="bet33"    (click)="betingNum(33,$event)" shape="rect" coords="845,90,885,140" style="cursor: pointer;">
            <area id="bet36"    (click)="betingNum(36,$event)" shape="rect" coords="885,90,925,140" style="cursor: pointer;">
            
         
        </map>
    </maphilight>
    <img src="/assets/images/circle.png" id="rouletteCircle" usemap="#image-map" class="map" style="position: absolute;z-index: 100;margin-top:18px;margin-left:25px;" />
    <div id="winArea"></div>
    
</div>
<div id="WinningNumberDiv">{{displayWinningNum}}</div>

<div id="HistoryDiv" *ngIf="showGameHistory">
    <table >
        <tr>
            <th>Id</th>
            <th>Bet amount</th>
            <th>Won amount</th>
            <th>Date</th>
            <th> 
                <button id="closeHistory" (click)="closeGameHistory()">X</button>
            </th>
        </tr>
        <tr *ngFor = "let item of gameHistory">
            <td>{{item.SpinId}}</td>
            <td>{{item.BetAmount}}</td>
            <td>{{item.WonAmount}}</td>
            <td colspan="2">{{item.Date}}</td>
        </tr>
    </table>
</div>


<div id="errorDiv" *ngIf = "errorResult">
    {{errorMessage}}
</div>
