button{
    margin-top:10px;
    background:black;
    color:white;
    border:none;
    padding:3px 10px 3px 10px;
    width:70px;
    height:25px;
    font-size:15px;
    border-radius: 5px;
}

#UsernameTitle{
    font-size:20px;
    padding:5px;
}


#WinningNumberDiv{
    width:100px;
    height:100px;
    background: #4d4dff;
    color:white;
    font-size:90px;
    margin-left:0px;
    text-align: center;
    border-radius: 10px;
}

#winArea{
    width:30px;
    height:110px;
    background:yellow;
    position:absolute;
    margin-left:190px;
    z-index:1000;
    opacity:0.5;
}

#closeHistory{
    background:red;
    width:30px;
    height:30px;
}

table {
    border-collapse: collapse;
    padding:10x;
  }
  
table, th, td {
    border: 1px solid black;
    padding:10x;
}

#HistoryDiv{
    background:#4d4dff;
    color:white;
    position:absolute;
    top:550px;
    left:130px;
    height:350px;
    overflow-y: scroll;
}

#errorDiv{
    margin-top:-110px;
    margin-left:540px;
    width:270px;
    text-align:center;
    padding:20px;
    background:#ff4d4d;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size:17px;
}


#jackpot{
    background-color:#ff9933;
    color:white;
    padding:5px;
    margin-left:500px;
    font-size:22px;
    border-radius: 10px;
    border:1px solid black;
}